In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({"A": [0, 1], "B":[2,3]})
df2 = pd.DataFrame({"A": [5, 6], "B":[7,8]})
df1

   A  B
0  0  2
1  1  3

In [4]:
df2

   A  B
0  5  7
1  6  8

In [7]:
pd.concat([df1, df2])

   A  B
0  0  2
1  1  3
0  5  7
1  6  8

In [10]:
# test concating empty dataframe
df_empty = pd.DataFrame({"A":[], "B":[]})
print(df_empty.empty)
pd.concat([df1, df_empty])

True

     A    B
0  0.0  2.0
1  1.0  3.0